.child,
.inner,
.item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-ghostwhite);
  width: 1920px;
  height: 7997px;
}

.inner,
.item {
  background-color: var(--color-crimson);
  height: 800px;
}

.inner {
  top: 800px;
  background-color: var(--color-ghostwhite);
}

.child1,
.child2,
.child3,
.child4,
.child5,
.child6,
.rectangleDiv {
  position: absolute;
  top: 1595px;
  left: 0;
  background-color: var(--color-crimson);
  width: 1920px;
  height: 800px;
}

.child1,
.child2,
.child3,
.child4,
.child5,
.child6 {
  top: 2382px;
  background-color: var(--color-ghostwhite);
}

.child2,
.child3,
.child4,
.child5,
.child6 {
  top: 3181px;
  background-color: var(--color-crimson);
}

.child3,
.child4,
.child5,
.child6 {
  top: 3942px;
  background-color: var(--color-ghostwhite);
}

.child4,
.child5,
.child6 {
  top: 4742px;
  background-color: var(--color-crimson);
}

.child5,
.child6 {
  top: 5535px;
  background-color: var(--color-ghostwhite);
}

.child6 {
  top: 6335px;
  background-color: var(--color-crimson);
}

.ellipseIcon {
  position: absolute;
  top: 6568px;
  left: 1661px;
  width: 22px;
  height: 22px;
}

.atUpstartWe,
.frequentlyAskQuestions {
  position: absolute;
  display: inline-block;
}

.frequentlyAskQuestions {
  top: 6388px;
  left: 762px;
  font-size: var(--font-size-2xl);
  width: 443px;
}

.atUpstartWe {
  top: 6478px;
  left: 443px;
  font-family: var(--font-roboto);
  width: 1081px;
}

.popularDestinations {
  position: absolute;
  top: 3293px;
  left: 850px;
  font-size: var(--font-size-2xl);
}

.stressFreeIahAirport {
  position: absolute;
  top: 3374px;
  left: 772px;
  font-family: var(--font-roboto);
}

.groupChild {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-crimson);
  box-shadow: 0 0 27px 3px rgba(0, 0, 0, 0.25);
  width: 430px;
  height: 433px;
}

.georgeBushAirport {
  position: absolute;
  top: 0;
  left: 7px;
  font-family: var(--font-oswald);
}

.downtownHouston {
  position: absolute;
  top: 72px;
  left: 7px;
}

.approx24Mile,
.groupItem {
  position: absolute;
  top: 126px;
  left: 0;
}

.groupItem {
  top: 0;
  border-radius: var(--br-md);
  background-color: var(--color-white);
  width: 236px;
  height: 73px;
}

.bookNow,
.rectangleGroup {
  position: absolute;
  top: 25px;
  left: 66px;
}

.rectangleGroup {
  top: 244px;
  left: 0;
  width: 236px;
  height: 73px;
  font-size: var(--font-size-lg);
  color: var(--color-crimson);
}

.georgeBushAirportParent {
  position: absolute;
  top: 50px;
  left: 80px;
  width: 270px;
  height: 317px;
}

.rectangleContainer,
.rectangleParent,
.rectangleParent1 {
  position: absolute;
  top: 3471px;
  left: 183px;
  width: 430px;
  height: 433px;
  font-size: var(--font-size-2xl);
  color: var(--color-white);
  font-family: var(--font-roboto);
}

.rectangleContainer,
.rectangleParent1 {
  left: 747px;
}

.rectangleParent1 {
  left: 1311px;
}

.groupIcon {
  position: absolute;
  top: 5904px;
  left: 930px;
  width: 60px;
  height: 10px;
}

.whatOurCustomers {
  position: absolute;
  top: 5593px;
  left: 741px;
  font-size: var(--font-size-2xl);
  color: var(--color-black);
}

.groupChild4 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  box-shadow: 0 0 37px 3px rgba(0, 0, 0, 0.25);
  width: 450px;
  height: 450px;
}

.aadmiralsProvidesSuperior {
  position: absolute;
  top: 92px;
  left: 84px;
  display: inline-block;
  width: 315px;
}

.maskGroupIcon {
  position: absolute;
  top: 15px;
  left: 78px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.davinViladairs {
  position: absolute;
  top: 372px;
  left: 78px;
  font-size: var(--font-size-2xl);
  font-family: var(--font-oswald);
  color: var(--color-crimson);
}

.rectangleParent3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 450px;
  height: 450px;
}

.groupParent,
.rectangleParent4,
.rectangleParent5 {
  position: absolute;
  top: 0;
  left: 556px;
  width: 450px;
  height: 450px;
}

.groupParent,
.rectangleParent5 {
  left: 1112px;
}

.groupParent {
  top: 5717px;
  left: 178px;
  width: 1562px;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-roboto);
}

.child7 {
  position: absolute;
  top: 5935px;
  left: 930px;
  width: 60px;
  height: 10px;
}

.itIsA,
.itIsA1,
.whatIsMeant {
  position: absolute;
  top: 6561px;
  left: 187px;
  display: inline-block;
  width: 349px;
  height: 30px;
}

.itIsA,
.itIsA1 {
  top: 6609px;
  font-size: var(--font-size-sm);
  font-family: var(--font-roboto);
  width: 576px;
  height: 33px;
}

.itIsA1 {
  top: 6640px;
}

.groupChild7,
.lineDiv {
  position: absolute;
  top: 6681.5px;
  left: 186.5px;
  border-top: 1px solid var(--color-ghostwhite);
  box-sizing: border-box;
  width: 1554px;
  height: 1px;
}

.groupChild7 {
  top: 52.9px;
  left: -0.5px;
  width: 1554.23px;
}

.whatIsMeantContainer {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 417.3px;
  height: 35.6px;
}

.child8,
.lineParent {
  position: absolute;
  top: 6693.8px;
  left: 186.77px;
  width: 1553.23px;
  height: 53.4px;
}

.child8 {
  top: 6817.5px;
  left: 186.5px;
  border-top: 1px solid var(--color-ghostwhite);
  box-sizing: border-box;
  width: 1554px;
  height: 1px;
}

.whatIsMeantContainer1 {
  position: absolute;
  top: 6765px;
  left: 187px;
  display: inline-block;
  width: 349px;
  height: 36px;
}

.child9 {
  position: absolute;
  top: 6889.5px;
  left: 186.5px;
  border-top: 1px solid var(--color-ghostwhite);
  box-sizing: border-box;
  width: 1554px;
  height: 1px;
}

.whatIfI {
  margin-block-start: 0;
  margin-block-end: 0;
}

.whatIfIContainer {
  position: absolute;
  top: 6836px;
  left: 187px;
  display: inline-block;
  width: 489px;
  height: 36px;
}

.child10 {
  position: absolute;
  top: 6942.5px;
  left: 185.5px;
  border-top: 1px solid var(--color-ghostwhite);
  box-sizing: border-box;
  width: 1554px;
  height: 1px;
}

.whatIfIContainer1 {
  position: absolute;
  top: 6890px;
  left: 186px;
  display: inline-block;
  width: 489px;
  height: 36px;
}

.child11 {
  position: absolute;
  top: 6995.5px;
  left: 185.5px;
  border-top: 1px solid var(--color-ghostwhite);
  box-sizing: border-box;
  width: 1554px;
  height: 1px;
}

.aadmiralsTravel {
  position: absolute;
  top: 150px;
  left: 652px;
  font-size: var(--font-size-2xl);
}

.aadmiralsProvidesSuperior4 {
  margin: 0;
}

.aadmiralsProvidesSuperiorContainer {
  position: absolute;
  top: 236px;
  left: 188px;
  font-family: var(--font-roboto);
  display: inline-block;
  width: 1552px;
}

.groupChild8 {
  position: absolute;
  height: 54.6%;
  width: 36.18%;
  top: 0;
  right: 31.78%;
  bottom: 45.4%;
  left: 32.04%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.alwaysOnTime {
  position: absolute;
  top: 139.18px;
  left: 0;
  display: inline-block;
  width: 284px;
  height: 49px;
}

.groupContainer {
  position: absolute;
  height: 2.35%;
  width: 14.79%;
  top: 6.38%;
  right: 76.04%;
  bottom: 91.27%;
  left: 9.17%;
  text-align: center;
}

.alwaysOnTimeForYourPickUGroup,
.alwaysOnTimeForYourPickUParent {
  position: absolute;
  top: 511px;
  left: 815px;
  width: 284px;
  height: 188.18px;
  text-align: center;
}

.alwaysOnTimeForYourPickUGroup {
  left: 1454px;
}

.whatIfIContainer2 {
  position: absolute;
  top: 6952px;
  left: 186px;
  display: inline-block;
  width: 489px;
  height: 36px;
}

.vectorIcon {
  position: absolute;
  height: 0.1%;
  width: 0.58%;
  top: 110.18%;
  right: 12.66%;
  bottom: -10.28%;
  left: 86.76%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.child12,
.vectorIcon1 {
  position: absolute;
  top: 6705px;
  left: 1660px;
  width: 22px;
  height: 22px;
}

.vectorIcon1 {
  height: 0.1%;
  width: 0.58%;
  top: 111.17%;
  right: 12.1%;
  bottom: -11.27%;
  left: 87.32%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.child13,
.vectorIcon2 {
  position: absolute;
  top: 6766px;
  left: 1660px;
  width: 22px;
  height: 22px;
}

.vectorIcon2 {
  height: 0.1%;
  width: 0.58%;
  top: 112.05%;
  right: 12.1%;
  bottom: -12.15%;
  left: 87.32%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.child14,
.vectorIcon3 {
  position: absolute;
  top: 6843px;
  left: 1660px;
  width: 22px;
  height: 22px;
}

.vectorIcon3 {
  height: 0.1%;
  width: 0.58%;
  top: 108.43%;
  right: 12.1%;
  bottom: -8.53%;
  left: 87.32%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.child15,
.vectorIcon4 {
  position: absolute;
  top: 6907px;
  left: 1660px;
  width: 22px;
  height: 22px;
}

.vectorIcon4 {
  height: 0.1%;
  width: 0.58%;
  top: 109.36%;
  right: 12.1%;
  bottom: -9.46%;
  left: 87.32%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.child16,
.vectorIcon5 {
  position: absolute;
  top: 6961px;
  left: 1660px;
  width: 22px;
  height: 22px;
}

.vectorIcon5 {
  height: 0.1%;
  width: 0.58%;
  top: 110.14%;
  right: 12.1%;
  bottom: -10.24%;
  left: 87.32%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.getFirstClassService {
  position: absolute;
  top: 57.62px;
  left: 0;
  font-size: var(--font-size-2xl);
  font-family: var(--font-oswald);
  display: inline-block;
  width: 718px;
}

.stressFreeIahAirport1 {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 421.24px;
}

.aadmiralsProvidesSuperior5,
.aadmiralsProvidesSuperior6 {
  position: absolute;
  top: 163.62px;
  left: 0;
  display: inline-block;
  width: 718px;
}

.aadmiralsProvidesSuperior6 {
  top: 329px;
}

.getFirstClassServiceToAndParent,
.groupChild11 {
  position: absolute;
  top: 0;
  left: 0;
  width: 718px;
  height: 455px;
}

.groupChild11 {
  border-radius: var(--br-md);
  background-color: var(--color-crimson);
  width: 262.3px;
  height: 73px;
}

.readMore {
  position: absolute;
  top: 25px;
  left: 73.36px;
  display: inline-block;
  width: 107.81px;
}

.rectangleParent6 {
  position: absolute;
  top: 556px;
  left: 0;
  width: 262.3px;
  height: 73px;
  font-size: var(--font-size-lg);
  color: var(--color-white);
}

.child17,
.groupParent1 {
  position: absolute;
  top: 875px;
}

.groupParent1 {
  left: 188px;
  width: 718px;
  height: 629px;
  color: var(--color-black);
  font-family: var(--font-roboto);
}

.child17 {
  left: 1012px;
  width: 727px;
  height: 650px;
  object-fit: cover;
}

.getFirstClassService1 {
  position: absolute;
  top: 57.62px;
  left: 0;
  font-size: var(--font-size-2xl);
  font-family: var(--font-oswald);
  display: inline-block;
  width: 719px;
}

.stressFreeIahAirport2 {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 421.83px;
}

.aadmiralsProvidesSuperior7,
.aadmiralsProvidesSuperior8 {
  position: absolute;
  top: 163.62px;
  left: 0;
  display: inline-block;
  width: 719px;
}

.aadmiralsProvidesSuperior8 {
  top: 329px;
}

.getFirstClassServiceToAndGroup,
.groupChild12 {
  position: absolute;
  top: 0;
  left: 0;
  width: 719px;
  height: 455px;
}

.groupChild12 {
  border-radius: var(--br-md);
  background-color: var(--color-crimson);
  width: 262.67px;
  height: 73px;
}

.readMore1 {
  position: absolute;
  top: 25px;
  left: 73.46px;
  display: inline-block;
  width: 107.96px;
}

.rectangleParent7 {
  position: absolute;
  top: 556px;
  left: 0;
  width: 262.67px;
  height: 73px;
  font-size: var(--font-size-lg);
  color: var(--color-white);
}

.child18,
.groupParent2 {
  position: absolute;
  top: 2475px;
}

.groupParent2 {
  left: 188px;
  width: 719px;
  height: 629px;
  color: var(--color-black);
  font-family: var(--font-roboto);
}

.child18 {
  left: 1012px;
  width: 728px;
  height: 650px;
  object-fit: cover;
}

.child19,
.groupChild13 {
  position: absolute;
  top: 6211px;
  left: 907px;
  width: 106px;
  height: 22px;
}

.groupChild13 {
  top: 0;
  left: 0;
  border-radius: var(--br-md);
  background-color: var(--color-ghostwhite);
  box-shadow: 0 0 37px 3px rgba(0, 0, 0, 0.25);
  width: 430px;
  height: 560px;
}

.standardSedanLincoln {
  top: 249px;
  left: 13px;
  font-size: var(--font-size-xl);
  width: 374px;
}

.cleanInAnd,
.from75Per,
.standardSedanLincoln {
  position: absolute;
  display: inline-block;
}

.cleanInAnd {
  top: 305px;
  left: 20px;
  font-size: var(--font-size-sm);
  font-family: var(--font-roboto);
  width: 360.59px;
}

.from75Per {
  top: 382px;
  left: 124px;
  width: 151.22px;
}

.groupChild14 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-md);
  background-color: var(--color-crimson);
  width: 155.09px;
  height: 48px;
}

.bookNow3 {
  position: absolute;
  top: 12px;
  left: 29px;
  display: inline-block;
  width: 103px;
  height: 23px;
}

.rectangleParent9 {
  position: absolute;
  top: 468.35px;
  left: 116px;
  width: 155.09px;
  height: 48px;
  color: var(--color-white);
  font-family: var(--font-roboto);
}

.groupChild15,
.image1Icon {
  position: absolute;
  top: 429px;
  left: 136px;
  width: 128.64px;
  height: 19.35px;
}

.image1Icon {
  top: 0;
  left: 0;
  border-radius: var(--br-md);
  width: 399px;
  height: 221px;
  object-fit: cover;
}

.standardSedanLincolnMksMkParent {
  position: absolute;
  top: 22px;
  left: 15px;
  width: 399px;
  height: 516.35px;
}

.rectangleParent8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 430px;
  height: 560px;
}

.groupParent3,
.rectangleParent10,
.rectangleParent12 {
  position: absolute;
  top: 0;
  left: 563px;
  width: 430px;
  height: 560px;
}

.groupParent3,
.rectangleParent12 {
  left: 1126px;
}

.groupParent3 {
  top: 4875px;
  left: 179px;
  width: 1556px;
  color: var(--color-crimson);
}

.child20 {
  position: absolute;
  top: 5466px;
  left: 907px;
  width: 106px;
  height: 22px;
}

.groupParent4,
.rectangleParent16,
.rectangleParent18 {
  position: absolute;
  top: 0;
  left: 560px;
  width: 430px;
  height: 560px;
}

.groupParent4,
.rectangleParent18 {
  left: 1120px;
}

.groupParent4 {
  top: 4182px;
  left: 182px;
  width: 1550px;
  color: var(--color-crimson);
}

.popularDestinations1 {
  position: absolute;
  top: 0;
  left: 77px;
}

.stressFreeIahAirport3 {
  position: absolute;
  top: 64px;
  left: 0;
  font-size: var(--font-size-base);
  font-family: var(--font-roboto);
}

.inner1,
.popularDestinationsParent {
  position: absolute;
  top: 0;
  left: 0;
  width: 379px;
  height: 85px;
}

.inner1 {
  top: 4059px;
  left: 770px;
  font-size: var(--font-size-2xl);
  color: var(--color-black);
}

.vectorIcon10,
.vectorIcon11,
.vectorIcon6,
.vectorIcon7,
.vectorIcon8,
.vectorIcon9 {
  position: absolute;
  height: 0.09%;
  width: 0.57%;
  top: 84.69%;
  right: 12.71%;
  bottom: 15.22%;
  left: 86.72%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.vectorIcon10,
.vectorIcon11,
.vectorIcon7,
.vectorIcon8,
.vectorIcon9 {
  top: 85.66%;
  bottom: 14.26%;
}

.vectorIcon10,
.vectorIcon11,
.vectorIcon8,
.vectorIcon9 {
  top: 86.46%;
  bottom: 13.46%;
}

.vectorIcon10,
.vectorIcon11,
.vectorIcon9 {
  top: 87.13%;
  bottom: 12.78%;
}

.vectorIcon10,
.vectorIcon11 {
  top: 83.93%;
  bottom: 15.98%;
}

.vectorIcon11 {
  top: 82.22%;
  right: 12.66%;
  bottom: 17.69%;
  left: 86.77%;
}

.houstonLimoService,
.weProvideOurContainer {
  position: absolute;
  left: 0;
  display: inline-block;
}

.houstonLimoService {
  top: 0;
  font-family: var(--font-oswald);
  width: 434.68px;
}

.weProvideOurContainer {
  top: 68px;
  font-size: var(--font-size-base);
  width: 723px;
  height: 446px;
}

.groupChild31 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-md);
  background-color: var(--color-white);
  width: 259.71px;
  height: 73px;
}

.readMore2 {
  position: absolute;
  top: 25px;
  left: 72.63px;
  display: inline-block;
  width: 106.74px;
}

.rectangleParent20 {
  position: absolute;
  top: 594px;
  left: 0;
  width: 259.71px;
  height: 73px;
  font-size: var(--font-size-lg);
  color: var(--color-crimson);
}

.houstonLimoServiceIahAParent {
  position: absolute;
  top: 0;
  left: 0;
  width: 723px;
  height: 667px;
}

.inner2 {
  top: 1637px;
  left: 1012px;
  width: 723px;
  height: 667px;
  font-size: var(--font-size-2xl);
  font-family: var(--font-roboto);
}

.child21,
.div,
.inner2 {
  position: absolute;
}

.child21 {
  top: 1637px;
  left: 183px;
  width: 724px;
  height: 650px;
  object-fit: cover;
}

.div {
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 100% ;
  height: 8005px;
  overflow: hidden;
}

.parent {
  position: relative;
  width: 100%;
  height: 8005px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-ghostwhite);
  font-family: var(--font-oswald);
}